<scandit-sdk-barcode-picker [scanSettings]="scanSettings"
                            (scan)="onScan($event)"
                            guiStyle="viewfinder"
                            [cameraSettings]="cameraSettings"
                            [playSoundOnScan]="true"
                            [enableCameraSwitcher]="false"
                            [enableTorchToggle]="true"
                            [enablePinchToZoom]="true"
                            [enableTapToFocus]="true"
                            [visible]="true"
                            [videoFit]="'cover'"
></scandit-sdk-barcode-picker>
